<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }} - Tokyo Security Meetup</title>
   <meta name="author" content="Chris Lincoln, based on code by Brett Hardin (Silisec)" />
   
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <script type="text/javascript">
    var _kmq = _kmq || [];
    var _kmk = _kmk || 'f199b6fcfe17c2c9d9276632a934da7b49e377ce';
    function _kms(u){
      setTimeout(function(){
        var d = document, f = d.getElementsByTagName('script')[0],
        s = d.createElement('script');
        s.type = 'text/javascript'; s.async = true; s.src = u;
        f.parentNode.insertBefore(s, f);
      }, 1);
    }
    _kms('//i.kissmetrics.com/i.js');
    _kms('//doug1izaerwt3.cloudfront.net/' + _kmk + '.1.js');
  </script>
</head>


<body>

<a href="http://github.com/lincolnlogs"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

<div class="site">
  <div class="title">
    <h1>EdoSec</h1>
  </div>
  <h3>Tokyo Security Professional Meetup</h3>
  <table cellpadding="10">
    <h4><col />
	<tr>
	  <td><li>No membership or entry fee.</td>
	  <td><li>会員制も入場料もなし。</td>
	</tr>
    <tr>
	  <td><li>No sponsors or vendor pitches.</td>
	  <td><li>スポンサーも勧誘もなし。</td>
	</tr>
    <tr>
	  <td><li>No agenda.</td>
	  <td><li>アジェンダなし。</td>
	</tr>
    <tr>
	  <td><li>No RSVP.  Don't worry about being "late".</td>
	  <td><li>個人予約の必要性なし。「遅れる」ことはない。</td>
	</tr>
    <tr>
	  <td><li>Get to know other security pros.</td>
	  <td><li>セキュリティ業界プロが気楽に集まる場です。</td>
	</tr>
    <tr>
	  <td><li>Open to all.</td>
	  <td><li>来る者拒まず。</td>
	</tr>
    <tr>
	  <td><li>Bring a friend!</td>
	  <td><li>同僚も連れてきて！</td>
	</tr>
	</h4>
  </table>

  <HR width="100%" color="green">

<h4>
Usually at a pub somewhere on second Wednesdays from 7pm... except when it's not.<br>
基本的に第2水曜日19時からどこかのパブで。（お盆の時期など変わることもある）<br>
**Note: EdoSec will be trying out an East/West switch every other month. October will be at <a href="www.the-aldgate.com">The Aldgate</a> in Shibuya.<br>
※開催地を各月で東西で場所を切り替えることを考えています。10月は渋谷の<a href="http://www.the-aldgate.com/index2.htm">オールゲイト</a>で開催します。
</h4>

<HR width="100%" color="green">
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <ul>
        <li><a href="/calendar.ics">Calendar</a></li>
        <li><a href="https://twitter.com/Edosec">Twitter</a></li>
		<li><a href="https://www.facebook.com/edosectokyo">Facebook</a></li>
        <li class="copyright">Brought to you by <a href="https://github.com/lincolnlogs/edosec">some</a> <a href="https://github.com/bhardin/silisec">folks.</a>
      </ul>
    </div>
  </div>

</body>
</html>
