---
layout: default
---

<div id="post">
{{ content }}

<h1>Map to Shibuya Hobgoblin</h1>

	<div id="map">

		<iframe align="center" width="704" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps/ms?hl=en&ie=UTF8&msa=0&msid=210812133391006894970.0004a02656cc22a1a47c1&ll=35.658353,139.699641&spn=0,0&source=embed"></iframe><br></br>
  
  	<small><a href="http://maps.google.com/maps/ms?hl=en&ie=UTF8&msa=0&msid=210812133391006894970.0004a02656cc22a1a47c1&ll=35.658353,139.699641&spn=0,0&source=embed" style="text-align:left">View Larger Map</a></small>
	</div>

</div>

<!-- <div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'silisec'; // required: replace example with your forum shortname
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">blog comments powered by <span class="logo-disqus">Disqus</span></a> -->